<div class="container flex flex-col items-center justify-center h-full">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white-900">Register</h2>
  </div>
  <div id="loginerrordiv" class="sm:mx-auto sm:w-full sm:max-w-sm hidden">

  </div>
  <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="w-full max-w-lg" onsubmit="return false" novalidate>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-white-700 text-xs font-bold mb-2" for="grid-first-name">
            First Name
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">
          <p class="text-red-500 text-xs italic required hidden" id="grid-first-name-error">Please fill out this field</p>
        </div>
        <div class="w-full md:w-1/2 px-3 ">
          <label class="block uppercase tracking-wide text-white-700 text-xs font-bold mb-2" for="grid-last-name">
            Last Name
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-last-name" type="text" placeholder="Doe">
          <p class="text-red-500 text-xs italic required hidden" id="grid-last-name-error">Please fill out this field</p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-white-700 text-xs font-bold mb-2" for="grid-email">
            Email
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-email" type="email" placeholder="email@abc.com">
          <p class="text-red-500 text-xs italic required hidden" id="grid-email-error">Please fill out this field</p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-white-700 text-xs font-bold mb-2" for="grid-password">
            Password
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="password" placeholder="******************">
          <p class="text-red-500 text-xs italic required hidden" id="grid-password-error">Please fill out this field</p>
          <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label class="block uppercase tracking-wide text-white-700 text-xs font-bold mb-2" for="grid-repeat-password">
            Repeat password
          </label>
          <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-repeat-password" type="password" placeholder="******************" >
          <p class="text-red-500 text-xs italic required hidden" id="grid-repeat-password-error">Please fill out this field</p>
        </div>
      </div>
      

      <div class="">
        <button type="submit" (click)="register()" data-cy="login-button"  class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Sign up
        </button>
      </div>

    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already registered?
      <a href="/auth/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign in</a>
    </p>
  </div>

</div>
